@import 'src/styles/themes';
@import 'src/styles/variables';

.baseButton {
  font-size: 16px;
  line-height: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  margin: 0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: auto;
  transition: background-color $transition-duration, border $transition-duration, color $transition-duration;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.primaryButton {
  background-color: $red;
  color: white;

  &:hover:not(:disabled):not(:active),
  &:focus:not(:active) {
    box-shadow: $red-shadow;
  }

  &:active {
    background-color: $red-dark;
  }

  &:disabled {
    background-color: $grey-light;
  }
}

.secondaryButton {
  color: $black;
  background-color: $grey-light;

  &:hover:not(:disabled):not(:active),
  &:focus:not(:active) {
    box-shadow: $grey-shadow;
  }

  &:active {
    background-color: $grey;
  }

  &:disabled {
    background-color: $grey-light;
  }
}
