$red: #ce0433;
$red-dark: #b60423;
$black: #161622;
$grey: #8d99ae;
$grey-light: #f3f8fb;

$red-shadow: 0px 2px 5px rgba(217, 4, 41, 0.25);
$grey-shadow: 0px 2px 5px rgba(194, 217, 226, 0.8);

$grey-border: 2px solid $grey-light;
