@import 'src/styles/themes';
@import 'src/styles/variables';

.menu {
  position: relative;
  width: 100%;
  list-style-type: none;
  display: flex;

  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

.link {
  color: $grey;
  outline: none;
  text-decoration: none;
  transition: color $transition-duration;

  &:hover,
  &:focus {
    color: $black;
  }
}

.activeLink {
  font-weight: bold;
  color: $black;
}
