@import 'src/styles/themes';
@import 'src/styles/variables';

.wrapper {
  position: fixed;
  padding: 0 8px;
  display: flex;
  background: rgba($black, 0.2);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  opacity: 0;
  transition: opacity linear $transition-duration;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.container {
  width: auto;
  height: auto;
  background-color: white;
  overflow-y: auto;
  border-radius: 8px;
  margin: auto;
}
