@import 'src/styles/themes';
@import 'src/styles/variables';

.link {
  text-decoration: none;
  color: $red;
  transition: color $transition-duration;
  font-weight: 600;
  display: inline-block;
  outline: none;

  &:hover,
  &:focus {
    color: $red-dark;
  }
}
