@import 'src/styles/themes';

.container {
  position: relative;
  width: 100%;
}

.return {
  margin-bottom: 32px;
}

.buttons {
  margin-top: 32px;
  display: flex;

  button,
  a {
    width: 100%;
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 24px;
    }
  }
}
