@import 'src/styles/themes';

.container {
  position: relative;
  width: 100%;
}

.header {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  h2 {
    color: $black;
  }
}

.table {
  @extend .container;
  min-height: 256px;
}
