@import 'src/styles/themes';
@import 'src/styles/variables';

.container {
  position: relative;
  width: 100%;
}

.button {
  @extend .container;
  margin-top: 32px;
}

.avatar {
  position: relative;
  width: 64px;
  height: 64px;

  img {
    height: 64px;
    width: 64px;
    display: block;
    border-radius: 8px;
    object-fit: cover;
  }
}

.actionList {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;

  li {
    &:not(:first-child) {
      margin-left: 8px;
    }

    button,
    a {
      padding: 0;
      border: none;
      background-color: inherit;
      color: $grey;
      width: 24px;
      height: 24px;
      transition: color $transition-duration;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {
        color: $black;
      }

      svg {
        width: 24px;
        height: 24px;

        * {
          fill: currentColor;
          transition: fill $transition-duration;
        }
      }
    }
  }
}

.rightAlignment {
  text-align: right;
}
